<!-- Section: Team v.3 -->
<section class="team-section my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">TEAM V4</h2>
  <!-- Section description -->

  <!-- Grid row-->
  <div class="row text-center text-md-left">

      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
          <div class="avatar mb-md-0 mb-4 mx-4">
              <img src="../assets/s.jpg" class="rounded z-depth-1" alt="Sample avatar">
          </div>
          <div class="mx-4">
              <h4 class="font-weight-bold mb-3">Lakshman Srujan</h4>
              <h6 class="font-weight-bold grey-text mb-3">Web Designer</h6>
              <p class="grey-text">Positive on examining issues. Have good sense of humour , love towards singing and music. Responsive towards social issues in society. Like to argue with others.Interested in movies, phones and movie critic. Worked as member in ABVP for
                  two years.Active in debating and passionate in Journalism.
              </p>
              <!-- Facebook-->
              <a class="p-2 fa-lg fb-ic">
              </a>
              <!-- Twitter -->
              <a class="p-2 fa-lg tw-ic">
              </a>
              <!--Dribbble -->
              <a class="p-2 fa-lg dribbble-ic">
              </a>
          </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
          <div class="avatar mb-md-0 mb-4 mx-4">
              <img src="../assets/m.jpg" class="rounded z-depth-1" alt="Sample avatar">
          </div>
          <div class="mx-4">
              <h4 class="font-weight-bold mb-3">Murali Ramesh</h4>
              <h6 class="font-weight-bold grey-text mb-3">Developer</h6>
              <p class="grey-text">To enhance my professional skills, capabilities and knowledge in an organization which recognizes the value of hard work and trusts me with responsibilities and challenges.
              </p>
              <!-- Facebook-->
              <a class="p-2 fa-lg fb-ic">
              </a>
              <!--YouTube -->
              <a class="p-2 fa-lg yt-ic">
              </a>
              <!--Instagram-->
              <a class="p-2 fa-lg ins-ic">
              </a>
          </div>
      </div>
      <!-- Grid column -->

  </div>
  <!-- Grid row-->

  <!-- Grid row-->
  <div class="row text-center text-md-left">

      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
          <div class="avatar mb-md-0 mb-4 mx-4">
              <img src="../assets/a2.jpg" class="rounded z-depth-1 img-fluid" alt="Sample avatar">
          </div>
          <div class="mx-4">
              <h4 class="font-weight-bold mb-3">Arshad Khadari</h4>
              <h6 class="font-weight-bold grey-text mb-3">Front-end Developer</h6>
              <p class="grey-text">Focused, oppurtunistic, ravenous to learn and implement new things, highly adaptable and extrovert in nature. Passionate about electronic gadgets, cyber security and other network relating topics.Hardworking person who strives for perfection
                  in every aspect of life. Goal is to work for a reputated organization to enhance skills and to be a valuable aspect to the company's growth
              </p>

              <!-- Facebook-->
              <a class="p-2 fa-lg fb-ic">
              </a>
              <!-- Twitter -->
              <a class="p-2 fa-lg tw-ic">
              </a>
              <!--Dribbble -->
              <a class="p-2 fa-lg dribbble-ic">
              </a>
          </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 d-md-flex justify-content-between">
          <div class="avatar mb-md-0 mb-4 mx-4">
              <img src="../assets/b.jpg" class="rounded z-depth-1 img-fluid" alt="Sample avatar">
          </div>
          <div class="mx-4">
              <h4 class="font-weight-bold mb-3">Bhanu Prakash</h4>
              <h6 class="font-weight-bold grey-text mb-3">Content Developer</h6>
              <p class="grey-text">Always seek perfectness in all the things I do and I never compromise to refuse or stop the work that I have started. Death is not my lifetime Achievement but before that I should be introduced to the world. "Success is achieved when our
                  signature turns to an Autograph"
              </p>
              <!-- Google +-->
              <a class="p-2 fa-lg gplus-ic">
              </a>
              <!--LinkedIn -->
              <a class="p-2 fa-lg li-ic">
              </a>
              <!--Email-->
              <a class="p-2 fa-lg email-ic">
              </a>
          </div>
      </div>
      <!-- Grid column -->

  </div>
  <!-- Grid row-->

</section>
<!-- Section: Team v.3 -->