<section style ="min-height: 650px;">
  <h2 class="heading p-4">Our services</h2>
  <section class="p-2 row ml-2">
    <div class="p-2 "><a class="btn btn-info" routerLink="/tests">Make An Appointment</a></div>
    <div class="p-2 "><a class="btn btn-info" routerLink="/viewuserappointments">ViewUserAppointment</a></div>
  </section>
  <img src="../assets/bgimages/pg1.jpg" style="background-size:cover;
                                                     background-position: center;
                                                     border-spacing: 5px;
                                                     height:100vh;
                                                     width: 95%;">"
</section>

  